.banner-image{
    background-image: url(img/IMG_8091a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: -1;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

#banner2{
    background-image: url(img/IMG_8095a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: -1;
}

#btn {
    margin-top: 20px ;
    border-radius: 30px;
    height: 4rem;
    width: 10rem;
    font-size: 20px;
    color: white;
}

#portfolio-container {
    opacity: 50%;
}

#example {
    width: 50rem;
    height: 20rem;
    opacity: 50%;
    padding-bottom: 50px;
}

#products-heading {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-container {
    background-color: white;
}

#contact-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contacts {
    padding-bottom: 100px;
}

#contacts .row .col {
    padding-bottom: 100px;
}